<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	 <title>[[${pageTitile}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"> </script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"> </script> 
</head>


<body>
	<div class="container-fluid">
		<div>
			<!-- Jonas -->
			<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
				<input type="submit" />
			</form>

			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}"> 
					<img th:src="@{/images/gummybear_logo.png}">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="topNavbar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/users/}">Users</a>
						</li>
					</ul>
				</div>	
					
				<div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="topNavbar">
					<ul class="navbar-nav ml-auto">
						<li>
							<span class="fas fa-user fa-2x icon-silver"> </span>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown"
								sec:authentication="principal.fullname" ></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" id="logoutLink" href="">Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</nav> 
		</div>						
	</div>
	
	<br>
	
	<div class="container-fluid">
		<h2> Manage Users | [[${pageTitile}]]</h2>
	</div>

	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
		</div>

<!--Form section-->
<form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto"
		th:object="${user}" onsubmit="return checkEmailUnique(this);">
		
		<input type="hidden" th:field="*{id}"/>
		
    <div class="border border-secondary rounded p-3">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email: </label>
            <div class="col-sm-8">
                <input type="email" class="form-control" th:field="*{email}" required minlength="8" maxlength="128" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">First Name: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{firstName}" required minlength="2" maxlength="45" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Last Name: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{lastName}" required minlength="2" maxlength="45" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Password: </label>
            <div class="col-sm-8">
                <!--ID is null which means, creating a new user-->
                <input th:if="${user.id == null}" type="password" class="form-control" th:field="*{password}" required minlength="8" maxlength="20" />

                <!--ID is not null which means, the field (attribute) is not required-->
                <input th:if="${user.id != null}" type="password" class="form-control" th:field="*{password}"  minlength="8" maxlength="20" />
            </div>
        </div>
        
        <!--  <div class="form-group row">
            <label class="col-sm-4 col-form-label">Job Title: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" th:field="*{jobTitle}" required minlength="2"  />
            </div>
        </div>-->
        
         <div class="form-group row">
            <label class="col-sm-4 col-form-label">Working hours: </label>
            <div class="col-sm-8">
                <input th:if="${user.id == null}" type="number" class="form-control" th:field="*{workingHours}" required min ="0" step="0.01"/>
                <input th:if="${user.id != null}" type="number" class="form-control" th:field="*{workingHours}" step="0.01" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Roles: </label>
            <div class="col-sm-8">
                <th:block th:each="role : ${listRoles}">
                    <input type="checkbox" th:field="*{roles}" 
                    th:text="${role.name}"
                    th:value="${role.id}"
                    class="m-2"
                    />
                    - [[${role.description}]]
                    <br/>
                </th:block>
            </div>
        </div>
        
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Enabled: </label>
            <div class="col-sm-8">
                <input type="checkbox" th:field="*{enabled}"  />
            </div>
        </div>
        
        <!--Button-->
        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3"/>
            <input type="button" value="cancel" class="btn btn-secondary" id="buttonCancel"/>
        </div>
        
    </div>
</form>

<!--Thitari/ Modal delete dialog -->
	<div class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="modalBody"></span>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="text-center">
		<p> Copyright &copy; GummyBear </p>
	</div>
	
	
<!--Jonas/ Modal logout dialog -->
	<div class="modal fade text-center" id="confirmModallogout">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Logout Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="confirmTextlogout"></span>
				</div>

				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButtonlogout">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	
<!-- Logout/Jonas -->	
<script type="text/javascript">
	$(document).ready(function() {
		$("#logoutLink").on("click", function(e) {
			e.preventDefault();
			$("#confirmTextlogout").text("Do you want to logout?");
			$("#confirmModallogout").modal();
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#yesButtonlogout").on("click", function(e) {
			e.preventDefault();
			document.logoutForm.submit();
		});
	});
</script>


	
	 <!--Thitari-->
<script type="text/javascript">
	$(document).ready(function() {
		$("#buttonCancel").on("click", function() {
			window.location = "[[@{/users}]]";
		});
	});
	
	function checkEmailUnique(form){
		//alert('check email unique');
		url = "[[@{/users/check_email}]]";
		userEmail = $("#email").val();
		userId =  $('#id').val();
		csrfValue = $("input[name='_csrf']").val();
		params = {id: userId, email: userEmail, _csrf: csrfValue};

		$.post(url, params, function(response) {
			if (response == "OK") {
				form.submit();
			} else if (response == "Duplicated") {
				showModalDialog("Warning", "There is another user having the email " + userEmail);
			} else {
				showModalDialog("Error", "Unknown response from server");
			}
		}).fail(function() {
			showModalDialog("Error", "Could not connect to the server");
		});

		return false;
	}
	
	function showModalDialog(title, message) {
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	}
</script>


</body>
</html> 