<!DOCTYPE html>
<!-- Initial implementaion of the users HTML page by Olga --> 
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Users</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"> </script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"> </script> 
</head>


<body>
	<div class="container-fluid">
		<div>
			<!-- Jonas -->
			<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
				<input type="submit" />
			</form>
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a class="navbar-brand" th:href="@{/}"> 
					<img th:src="@{/images/gummybear_logo.png}">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="topNavbar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/users/}">Users</a>
						</li>
					</ul>
				</div>	
					
				<div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="topNavbar">
					<ul class="navbar-nav ml-auto">
						<li>
							<span class="fas fa-user fa-2x icon-silver"> </span>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown"
								sec:authentication="principal.fullname" ></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" id="logoutLink" href="">Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>  
		</div>						
	</div>
	
	<br>
	
	<div class="container-fluid">
		<h2> Company Employees</h2>
		<a th:href="@{/users/new}">Create New User</a>
	</div>
<div>
<br>
</div>

	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
		</div>

	<div class ="full-details container-fluid">
		<table class="table table-bordered table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr> 
					<th scope="col"> User ID </th>
					<th scope="col"> First Name </th>
					<th scope="col"> Last Name </th>
					<th scope="col"> Email </th>
					<th scope="col"> Enabled Status </th>
					<th scope="col"> Role </th>
					<th scope="col"> Job Title </th> 
					<th scope="col"> Working Hours </th> 
					<th scope="col"> Enabled </th>
					<th scope="col" ></th>
				</tr>
			</thead> 

			<tbody>
				<tr th:each="user : ${listUsers}" role="row">
					<td scope="row" data-label="User ID" >[[${user.id}]]</td>
					<td data-label="First Name">[[${user.firstName}]]</td>
					<td data-label="Last Name">[[${user.lastName}]]</td>
					<td data-label="Email">[[${user.email}]]</td>
					<td data-label="Enabled Status">[[${user.enabled}]]</td>
					<td data-label="Role">[[${user.roles}]]</td>
					<td data-label="Job Title">[[${user.jobTitle}]]</td>
					<td data-label="Working hours">[[${user.workingHours}]]</td>
					
					<!--modify enabled-->
					<td data-label="Enabled">
						<a th:if="${user.enabled == true}" class="fas fa-check-circle  icon-green" 
						th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
						title="Disable this user"></a>

						<a th:if="${user.enabled == false}" class="fas fa-circle  icon-dark" 
						th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
						title="Enable this user"></a>
					</td>
					<!--Modify fas icon for action buttons Thitari-->
					<td data-label=" ">
					<a class="fas fa-edit  icon green" th:href="@{'/users/edit/' + ${user.id}}"
					title="Edit this user"></a>
					&nbsp;
					<a class="fas fa-trash  icon-dark link-delete" th:href="@{'/users/delete/' + ${user.id}}"
					th:userId="${user.id}"
					title="Delete this user"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	

	<div class="less-details">
	<table class="table table-stripped">
		<th th:each="user : ${listUsers}" class="row row-centered m-1">
			<div class="col-2">
				[[${user.id}]]
			</div>
			<div class="col-8 col-centered">
				<div>[[${user.fullName}]]</div>
				<div>[[${user.roles}]]</div>
				<div class="mt-2">
					<a th:if="${user.enabled == true}" class="fas fa-check-circle fa-2x icon-green" 
						th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
						title="Disable this user"></a>
					
					<a th:if="${user.enabled == false}" class="fas fa-circle fa-2x icon-dark" 
						th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
						title="Enable this user"></a>
					&nbsp;	
					<a class="fas fa-edit fa-2x icon green" th:href="@{'/users/edit/' + ${user.id}}"
					title="Edit this user"></a>
					&nbsp;
					<a class="fas fa-trash fa-2x icon-dark link-delete" th:href="@{'/users/delete/' + ${user.id}}"
					th:userId="${user.id}"
					title="Delete this user"></a>
				</div>
			</div>
			<div>&nbsp;</div>
			</th>
		</table>
	</div>





<!--Thitari/ Modal delete dialog -->
	<div class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Delete Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="confirmText"></span>
				</div>

				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButton">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	
<!--Jonas/ Modal logout dialog -->
	<div class="modal fade text-center" id="confirmModallogout">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Logout Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="confirmTextlogout"></span>
				</div>

				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButtonlogout">Yes</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<p> Copyright &copy; GummyBear </p>
	</div>
	
	
<!-- Logout/Jonas -->	
<script type="text/javascript">
	$(document).ready(function() {
		$("#logoutLink").on("click", function(e) {
			e.preventDefault();
			$("#confirmTextlogout").text("Do you want to logout?");
			$("#confirmModallogout").modal();
		});
	});
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$("#yesButtonlogout").on("click", function(e) {
			e.preventDefault();
			document.logoutForm.submit();
		});
	});
</script>


<!--Thitari-->
<script type = "text/javascript">
	$(document).ready(function() {
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				link = $(this);
				//alert($(this).attr("href"));
				userId = link.attr("userId");
				$("#yesButton").attr("href", link.attr("href"));
				$("#confirmText").text("Are you sure to delete this user id " + userId +"?");
				$("#confirmModal").modal();
				//showDeleteConfirmModal($(this), 'user');
			});
		});
</script>

</body>
</html> 